fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
pinecone
sentence-transformers
python-docx
numpy
typing-extensions
python-dotenv
python-multipart>=0.0.20
pytest
supabase>=2.0.0
openai>=1.13.3
google-generativeai>=0.8.3
email-validator
